@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Knewave&display=swap');

/* TODO: SISTEMARE FONT E COLORE PER RENDERLO IL PIÙ LEGGIBILE POSSIBILE */

* {
    margin: 0;
    padding: 0;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 70%;
    height: 95vh;
    margin: auto;
    padding-top: 36px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/sfondonatale.jpg');
    background-size: cover;
    filter: blur(2px);
    z-index: -1;
}

main {
    padding: 124px 0 124px 0;
}

h1 {
    font-size: 60px;
    line-height: 3rem;
    color: white;
    margin-bottom: 32px;
}

h3 {
    font-size: 32px;
    line-height: 3rem;
    color: white;
}

p, ul, li {
    color: white;
}

ul {
    padding: 40px;
    line-height: 1.5rem;
}

.preQuiz {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.left input{
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid white;
    outline: none;
    transition: border-color 0.2s;
    position: relative;
    cursor: pointer;
    background: transparent
}

.left input:checked{
    background-color: white;
}

.cta {
    padding: 16px 48px 16px 48px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0;
    border: 0;
    background-color: aqua;
    transition: 0.3s;
    cursor: not-allowed;
}

.cta:hover {
    background-color: #007bff;
    box-shadow: #007bff 0px 0px 20px;
    transition: 0.3s;
}

input {
    height: 15px !important;
}

.benvenuta, .istruzioni, .left {
    user-select: none;
}